
.issue-message {
    bottom: 10px;
    background-image: url("./images/messageme.png");
    background-size: contain;
}

.issue-message {
    position: fixed;
    right: 10px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    z-index: 1000;
    opacity: 0.5;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.issue-message:hover {
    opacity: 1;
}

#user-issue-canvas {
    display: none;
}